:root{
    --main-color: #964b00;
    --nav-color: #C4A484;
    --bg-color:white;
    --black:rgb(168, 79, 79);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:none;
    outline:none;
    text-decoration:none;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition:all .2s;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
}
.header{
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 1.5rem 7%;
    position:fixed;
    top:0%;
    left: 0%;
    right: 0%;
   /* z-index: index 1000; */

   
}
.header .logo1 img{
    height: 6rem;
    border-radius: 50%;
}
.header .navbar a{
    color: white;
    font-size: 1.2rem;
    margin: 0 1rem;
  
}
.header .navbar a:hover{
    color:var(--black);
    border-top: 0.2rem solid var(--black);
    border-bottom: 0.2rem solid var(--black);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.header.icons{
    display:flex;
}
.header.icons div{
    color: white;
    cursor:pointer;
    font-size: 3rem;
    margin-left: 2.5rem;

}
.header.icons.menu-icon{
    display:none;
}
.header.icons div:hover{
    color: var(--black);
}
